In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [4]:
data2 = {'商品名称':['电脑','手机','电视','家电'],
        '销量':[50000,100000,40000,30000],
        '单价':[3399.00,1299.00,4999.0b0,899.00]}

In [5]:
df1 = DataFrame(data2)
df1

       单价 商品名称      销量
0  3399.0   电脑   50000
1  1299.0   手机  100000
2  4999.0   电视   40000
3   899.0   家电   30000

In [6]:
DataFrame(data2,columns=['商品名称','销量','单价'])

  商品名称      销量      单价
0   电脑   50000  3399.0
1   手机  100000  1299.0
2   电视   40000  4999.0
3   家电   30000   899.0

In [7]:
df2 = DataFrame(data2,columns=['商品名称','单价','销量','库存'],
               index=list('abcd'))
df2

  商品名称      单价      销量   库存
a   电脑  3399.0   50000  NaN
b   手机  1299.0  100000  NaN
c   电视  4999.0   40000  NaN
d   家电   899.0   30000  NaN

In [8]:
df2.销量

a     50000
b    100000
c     40000
d     30000
Name: 销量, dtype: int64

In [9]:
df2['销量']

a     50000
b    100000
c     40000
d     30000
Name: 销量, dtype: int64

In [14]:
df2.ix['b']

商品名称        手机
单价        1299
销量      100000
库存         NaN
Name: b, dtype: object

In [17]:
df2['库存'] = 300

In [18]:
df2

  商品名称      单价      销量   库存  库存量
a   电脑  3399.0   50000  300  300
b   手机  1299.0  100000  300  300
c   电视  4999.0   40000  300  300
d   家电   899.0   30000  300  300

In [19]:
df2['库存'] = np.arange(100,401,100)
df2

  商品名称      单价      销量   库存  库存量
a   电脑  3399.0   50000  100  300
b   手机  1299.0  100000  200  300
c   电视  4999.0   40000  300  300
d   家电   899.0   30000  400  300

In [21]:
val1 = Series([50000,100800,32200,30000],index=list('abcd'))
df2['销量'] = val1
df2

  商品名称      单价      销量   库存  库存量
a   电脑  3399.0   50000  100  300
b   手机  1299.0  100800  200  300
c   电视  4999.0   32200  300  300
d   家电   899.0   30000  400  300

In [25]:
df2

  商品名称      单价      销量   库存
a   电脑  3399.0   50000  100
b   手机  1299.0  100800  200
c   电视  4999.0   32200  300
d   家电   899.0   30000  400

In [26]:
df2['销售总金额'] = df2['单价'] * df2['销量']
df2

  商品名称      单价      销量   库存        销售总金额
a   电脑  3399.0   50000  100  169950000.0
b   手机  1299.0  100800  200  130939200.0
c   电视  4999.0   32200  300  160967800.0
d   家电   899.0   30000  400   26970000.0

In [27]:
del df2['销售总金额']
df2

  商品名称      单价      销量   库存
a   电脑  3399.0   50000  100
b   手机  1299.0  100800  200
c   电视  4999.0   32200  300
d   家电   899.0   30000  400

In [28]:
data3 = {'销量':{2014:10000,2015:30000,2016:40000},
         '库存':{2014:5000,2015:6000,2016:7000} }
df3 = DataFrame(data3)
df3

        库存     销量
2014  5000  10000
2015  6000  30000
2016  7000  40000

In [29]:
df3.T

     2014   2015   2016
库存   5000   6000   7000
销量  10000  30000  40000

In [30]:
df3.columns.name = '销存量'
df3.index.name = '年份'
df3

销存量     库存     销量
年份
2014  5000  10000
2015  6000  30000
2016  7000  40000

In [33]:
df3.values  # df3.values[1]

array([[ 5000, 10000],
       [ 6000, 30000],
       [ 7000, 40000]], dtype=int64)

In [35]:
ser4 = Series(range(1,4),index=list('abc'))
index3 = ser4.index
index3

Index(['a', 'b', 'c'], dtype='object')

In [36]:
index3[1:]

Index(['b', 'c'], dtype='object')

In [37]:
index3[1] = 'Two'

TypeError: Index does not support mutable operations

In [39]:
index4 = pd.Index(np.arange(3))
ser5 = Series([4,5,6],index=index4)
ser5.index is index4

True

In [41]:
index5 = pd.Index(np.arange(10))
index5.delete(2)

Int64Index([0, 1, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [42]:
index4.append(index5)

Int64Index([0, 1, 2, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [44]:
index4.insert(1,50)

Int64Index([0, 50, 1, 2], dtype='int64')