In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

**Series对象**

In [3]:
r = range(2,15,3)
ser1 = Series(r)
ser1

0     2
1     5
2     8
3    11
4    14
dtype: int32

In [4]:
ser1.values

array([ 2,  5,  8, 11, 14])

In [6]:
# index1 = ['c','e','a','b','d']
index1 = list('abcde')
ser2 = Series(r,index=index1)
ser2

a     2
b     5
c     8
d    11
e    14
dtype: int32

In [7]:
ser2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [8]:
ser1.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
ser1[0]

2

In [10]:
ser1[1:3]

1    5
2    8
dtype: int32

In [14]:
ser2['a']

2

In [15]:
ser2[list('ade')]

a     2
d    11
e    14
dtype: int32

In [16]:
ser2[ser2 > 7]

c     8
d    11
e    14
dtype: int32

In [17]:
ser2 * 2

a     4
b    10
c    16
d    22
e    28
dtype: int32

In [18]:
np.square(ser2)

a      4
b     25
c     64
d    121
e    196
dtype: int32

In [20]:
'f' in ser2

False

In [21]:
data1 = {'TV':30000,'Phone':12000,'PC':47000,'YF':150000}
ser3 = Series(data1)
ser3

PC        47000
Phone     12000
TV        30000
YF       150000
dtype: int64

In [22]:
index2 = ['TV','Phone','PC','JD']
ser4 = Series(data1,index=index2)
ser4

TV       30000.0
Phone    12000.0
PC       47000.0
JD           NaN
dtype: float64

In [23]:
pd.isnull(ser4)

TV       False
Phone    False
PC       False
JD        True
dtype: bool

In [24]:
pd.notnull(ser4)  # ser4.notnull()

TV        True
Phone     True
PC        True
JD       False
dtype: bool

In [25]:
ser3

PC        47000
Phone     12000
TV        30000
YF       150000
dtype: int64

In [26]:
ser4

TV       30000.0
Phone    12000.0
PC       47000.0
JD           NaN
dtype: float64

In [27]:
ser3 + ser4

JD           NaN
PC       94000.0
Phone    24000.0
TV       60000.0
YF           NaN
dtype: float64

In [29]:
ser3.name = '某某平台销售数据'
ser3.index.name = '商品名称'
ser3

商品名称
PC        47000
Phone     12000
TV        30000
YF       150000
Name: 某某平台销售数据, dtype: int64

In [32]:
ser3.index = ['电脑销量','手机销量','电视销量','衣服销量']
ser3

电脑销量     47000
手机销量     12000
电视销量     30000
衣服销量    150000
Name: 某某平台销售数据, dtype: int64