In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd
import MySQLdb

In [3]:
conn = MySQLdb.connect(host='localhost',user='root',db='employees')
sql = 'select * from departments'
df = pd.read_sql(sql,conn)
df

  dept_no           dept_name
0    d009    Customer Service
1    d005         Development
2    d002             Finance
3    d003     Human Resources
4    d001           Marketing
5    d004          Production
6    d006  Quality Management
7    d008            Research
8    d007               Sales