In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
import xlrd,xlwt

In [13]:
myWork = xlwt.Workbook(encoding='utf-8')
sheet1 = myWork.add_sheet('工作表数据1')
sheet2 = myWork.add_sheet('工作表数据2')

data = np.arange(2,26).reshape((6,4))

for row in range(data.shape[0]):
    for col in range(data.shape[1]):
        sheet1.write(row,col,data[row,col].astype(float))
        sheet2.write(row,col,(data[row,col]*3).astype(float))

myWork.save('E:/WorkBook.xls')

In [15]:
readBook = xlrd.open_workbook('E:/WorkBook.xls')
readBook.sheet_names()

['工作表数据1', '工作表数据2']

In [16]:
sheetOne = readBook.sheet_by_name('工作表数据1')
sheetOne.name

'工作表数据1'

In [17]:
sheetTwo = readBook.sheet_by_index(1)
sheetTwo.name

'工作表数据2'

In [18]:
sheetOne.nrows,sheetTwo.ncols

(6, 4)

In [19]:
sheetOne.row_values(1)

[6.0, 7.0, 8.0, 9.0]

In [20]:
sheetOne.row_values(1,start_colx=1,end_colx=3)

[7.0, 8.0]

In [21]:
sheetOne.col_values(2,start_rowx=2,end_rowx=5)

[12.0, 16.0, 20.0]

In [22]:
sheetOne.cell(3,2).value

16.0

In [23]:
xlsFile = pd.ExcelFile('E:/WorkBook.xls')
xlsFile

In [26]:
xlsFile.parse('工作表数据2',header=None)

    0   1   2   3
0   6   9  12  15
1  18  21  24  27
2  30  33  36  39
3  42  45  48  51
4  54  57  60  63
5  66  69  72  75